<div class="container">
  <div class="top-header">
    <div class="row justify-content-between">
      <div class="col-6">
        <a href="#">
          <img src="assets/images/logo.png" alt="logo">
          <span style="margin-right: 20px;">Discover</span>
          <i class="fa fa-angle-down" style="color: green;"></i>
        </a>
      </div>
      <div class="col-6">
        <div class="personal">
          <img class="avatar" src="assets/images/image.jpg" alt="avatar">
          <span style="margin-right: 20px;">Welcome, Tamra</span>
          <i class="fa fa-angle-down" style="color: green;"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Bank <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Borrow</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Invest</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Insure</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>