<div class="container">
  <div class="top-header">
    <div class="row justify-content-between">
      <div class="col-7">
        <a href="#">
          <img src="assets/images/logo-Discover.png" alt="logo">
          <!-- <span style="margin-right: 20px;">Discover</span> -->
          <i class="fa fa-angle-down arrow"></i>
        </a>
      </div>
      <div class="col-5">
        <div class="personal">
          <img class="avatar" src="assets/images/avatar.png" alt="avatar">
          <span style="margin-right: 20px;">Welcome, Tamra</span>
          <i class="fa fa-angle-down arrow"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="">
        <a href="#">Bank</a>
      </li>
      <li class="">
        <a href="#">Borrow</a>
      </li>
      <li class="">
        <a href="#">Invset</a>
      </li>
      <li class="last">
        <a href="#">Insure</a>
      </li>
    </ul>
    <form class="form-inline inner-addon right-addon">
      <i class="fa fa-search"></i>
      <input class="form-control mr-sm-2" type="search" placeholder="What are you looking for?" aria-label="Search">
      <i class="fa fa-angle-down arrow"></i>
    </form>
  </div>
</nav>