.top-header {
    margin-top: 40px;
    margin-bottom: 40px;
}

a img {
    width: 200px;
    margin-right: 20px;
}

.avatar {
    width: 40px;
    height: 40px;
    margin-right: 20px;
}

a {
    color: #333 !important;
    font-weight: bold;
    font-size: 24px;
}

a span {
    font-size: 38px;
    align-items: center;
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
}

.personal {
    /* font-weight: bold; */
    float: right;
    font-size: 22px;
}

.personal span {
    vertical-align: middle;
    align-items: center;
}

.arrow {
    color: green;
    font-weight: bold;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
    font-size: 22px;
}

.navbar-nav li {
    margin-right: 80px;
}

.navbar-nav {
    margin-right: 200px;
}

.form-inline .form-control {
    width: 250px !important;
    margin-top: -10px;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .fa-search {
    position: absolute;
    padding: 10px;
    pointer-events: none;
    cursor: pointer;
}

.right-addon .fa-search {
    right: 20px;
    margin-top: -10px;
}

.right-addon input { padding-right: 30px; }

.form-control {
    border: none !important;
    border-radius: 0% !important;
    border-bottom: 1px solid green !important;
}

.form-control:focus, .form-control:hover {
    border-bottom: 1px solid green;
}

.modal-dialog {
    max-width: 1150px !important;
    margin-top: 100px !important;
}

.bank {
    margin-top: 210px !important;
}

.header {
    font-size: 18px;
    color: green;
    padding-bottom: 5px;
}

.under_color {
    border-bottom: 2px solid #73665F;
}

.sub_title {
    font-size: 16px;
    color: #74C447 !important;
}

.text {
    font-size: 12px;
    font-weight: 400 !important;
}

.green {
    color: green;
}

.brand {
    position: relative;
}

.read {
    font-size: 14px;
    color: green !important;
    cursor: pointer;
}

.annual {
    margin-right: 40px;
    margin-bottom: 20px;
    width: 100px;
    height: 100px;
}

.modal-body {
    margin-top: 20px;
}

.paragraph {
    margin-bottom: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

.icons {
    color: green;
    font-size: 22px;
    margin-right: 10px;
}

.bottom {
    display: inline;
    font-size: 14px;
}

.tools {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid;
    cursor: pointer;
}

td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    font-size: 12px;
}

.advisor {
    width: 250px;
    margin-bottom: 20px;
}

.svg {
    width: 30px;
    margin: 15px 15px 0 15px;
    text-align: center;
    vertical-align: middle;
    align-items: center;
}

.icon-text {
    text-align: center;
    font-size: 12px;
    margin-top: 5px;
    vertical-align: middle;
    align-items: center;
}

.modal-backdrop {
    background-color: red;
}

.project_link {
    cursor: pointer;
}

.logoModal {
    background-color: #eee;
    padding: 20px;
    position: absolute;
    z-index: 50;
    margin-top: -100px;
    left: 0;
    right: 0;
}

.bankModal {
    background-color: #eee;
    padding: 20px;
    position: absolute;
    z-index: 50;
    margin-top: -10px;
    left: 0;
    right: 0;
}

.text-put {
    position: absolute;
    bottom: 0px;
    text-align: center;
    width: 100px;
    background-color: #eee;
    opacity: .7;
    padding-top: 10px;
    padding-bottom: 10px;
}

.bottom {
    width: 15px;
    margin-right: 10px;
}

.edit {
    width: 15px;
}

@media screen and (max-width: 768px) {
    .tables {
        display: none;
    }
    .top-header {
        margin: 20px 0 20px 0;
    }
}

/* @media (min-width: 768px) {
    .navbar-expand-lg .navbar-toggler {
        display: none !important;
    }
} */

@media (min-width: 576px) {
    .form-inline .form-control {
        display: inline !important;
    }
}

@media screen and (max-width: 1200px) {
    .navbar-nav li {
        margin-right: 40px;
        text-align: center;
    }
    .navbar-nav {
        margin-right: 150px;
    }
}