<div class="container">
  <div class="top-header">
    <div class="row justify-content-between">
      <div class="col-xs-7">
        <a href="#">
          <img src="assets/images/logo-Discover.png" alt="logo" class="img-fluid">
        </a>
        <i class="fa fa-angle-down arrow" data-toggle="modal" data-target="#logoModal"></i>
      </div>
      <div class="col-xs-5">
        <div class="personal">
          <img class="avatar img-fl" src="assets/images/avatar.png" alt="avatar">
          <span style="margin-right: 20px;">Welcome, Tamra</span>
          <i class="fa fa-angle-down arrow" data-toggle="modal" data-target="#avatarModal"></i>
        </div>
      </div>
    </div>
  </div>
</div>

<nav class="navbar navbar-expand-lg navbar-light bg-light container">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav">
      <li class="">
        <a href="#" data-toggle="modal" data-target="#bankModal">Bank</a>
      </li>
      <li class="">
        <a href="#" data-toggle="modal" data-target="#borrowModal">Borrow</a>
      </li>
      <li class="">
        <a href="#" data-toggle="modal" data-target="#investModal">Invest</a>
      </li>
      <li class="last">
        <a href="#" data-toggle="modal" data-target="#insureModal">Insure</a>
      </li>
    </ul>
    <form class="form-inline inner-addon right-addon">
      <i class="fa fa-search" (click)="search()"></i>
      <input type="search" class="form-control" placeholder="What are you looking for?">
      <i class="fa fa-angle-down arrow"></i>
    </form>
  </div>
</nav>

<!--Logo Modal-->
<div class="modal fade" id="logoModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-5 col-xs-12">
              <div class="paragraph">
                <p class="header" style="border-bottom: 2px solid #085B02;">We are Northwest</p>
                <p class="text">{{text1}}</p>
                <p class="read">Learn more</p>
                <img src="assets/images/annual.jpg" class="annual" alt="Annual">
                <img src="assets/images/brand.jpg" class="brand" alt="Brand">
              </div>
              <div class="paragraph">
                <p class="header" style="border-bottom: 2px solid #FFAD3F;">Employee Services</p>
                <div class="row">
                  <div class="col-6">
                    <p class="text" *ngFor="let employee of employees">{{employee}}</p>
                  </div>
                  <div class="col-6">
                    <p class="text" *ngFor="let service of services">{{service}}</p>
                  </div>
                </div>
              </div>
              <div class="paragraph">
                <p class="header" style="border-bottom: 2px solid #FFAD3F;">Regions</p>
                <div class="row">
                  <div class="col-6" *ngFor="let region of regions">
                    <p class="text" *ngFor="let text of region.texts">{{text}}</p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-7 col-xs-12">
              <div class="paragraph">
                <p class="header" style="border-bottom: 2px solid #74C447;">Corporate Departments</p>
                <div class="row">
                  <div class="col-md-3 col-xs-6" *ngFor="let department of departments">
                    <div *ngFor="let title of department.titles">
                      <a routerLink="/home/marketing/communications" class="read" style="font-size: 16px;">{{title.title}}</a>
                      <h6 class="text" *ngFor="let text of title.texts">{{text}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="float-right">
            <i class="fa fa-lightbulb-o icons"></i>
            <h6 class="bottom">PRO TIP: <small>Add your favorites to&nbsp;<a href="#" class="tools">My Tools</a></small></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Avatar Modal-->
<div class="modal fade" id="avatarModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-3 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">Recently Visited</h6>
                <h6 class="text" *ngFor="let visit of visits">{{visit}}</h6>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #74C447;">My Teams</h6>
                <h6 class="text" *ngFor="let team of teams">{{team}}</h6>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #FFAD3F;">
                  My Tools
                  <i class="fa fa-edit float-right" style="color: #333;"></i>
                </h6>
                <div class="row">
                  <div class="col-md-2" *ngFor="let svg of svgs">
                    <img src="{{svg.img}}" alt="{{svg.alt}}" class="svg">
                    <h6 class="icon-text">{{svg.alt}}</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">My Reports</h6>
                <div *ngFor="let report of reports">
                  <i class="{{report.class}}" style="margin-right: 10px;"></i>
                  <span class="text">{{report.text}}</span>
                </div>
              </div>
            </div>
            <div class="col-md-3 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #74C447;">My Teams</h6>
                <h6 class="text" *ngFor="let team of teams">{{team}}</h6>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #FFAD3F;">
                  My Links
                  <i class="fa fa-edit float-right" style="color: #333;"></i>
                </h6>
                <div class="row">
                  <div class="col-md-6" *ngFor="let list of lists">
                    <h6 class="text" *ngFor="let title of list.titles">{{title}}</h6>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="float-right">
            <i class="fa fa-lightbulb-o icons"></i>
            <h6 class="bottom">PRO TIP: <small>Add your favorites to&nbsp;<a href="#" class="tools">My Tools</a></small></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Bank Modal-->
<div class="modal fade" id="bankModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bank" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">Banking at Northwest</h6>
                <h6 class="text">{{text2}}</h6>
              </div>
            </div>
            <div class="col-md-2 col-xs-12" *ngFor="let personal of personals">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">{{personal.title}}</h6>
                <h6 class="text" *ngFor="let text of personal.texts">{{text}}</h6>
              </div>
            </div>
            <div class="col-md-2 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #74C447;">Delivery Channels</h6>
                <h6 class="text" *ngFor="let channel of channels">{{channel}}</h6>
              </div>
            </div>
            <div class="col-md-2 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #FFAD3F;">Tools & Resources</h6>
                <h6 class="text" *ngFor="let resource of resources">{{resource}}</h6>
              </div>
            </div>
          </div>
          <div class="row tables">
            <div class="col-md-6">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">Current Deposit Rates</h6>
                <div class="row">
                  <div class="col-md-6">
                    <table>
                      <tbody>
                        <tr *ngFor="let table of tables">
                          <td>{{table.des}}</td>
                          <td>{{table.per}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table>
                      <tbody>
                        <tr *ngFor="let rate of rates">
                          <td>{{rate.des}}</td>
                          <td>{{rate.per}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h6 class="read">View All</h6>
          <div class="float-right">
            <i class="fa fa-lightbulb-o icons"></i>
            <h6 class="bottom">PRO TIP: <small>Add your favorites to&nbsp;<a href="#" class="tools">My Tools</a></small></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Borrow Modal-->
<div class="modal fade" id="borrowModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bank" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-4 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">About Northwest credit options</h6>
                <h6 class="text">{{text3}}</h6>
              </div>
            </div>
            <div class="col-md-2 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">Personal</h6>
                <h6 class="text" *ngFor="let bpersonal of bpersonals">{{bpersonal}}</h6>
              </div>
            </div>
            <div class="col-md-2 col-xs-12">
              <div class="paragraph" *ngFor="let brending of brendings">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">{{brending.title}}</h6>
                <h6 class="text" *ngFor="let text of brending.texts">{{text}}</h6>
              </div>
            </div>
            <div class="col-md-2 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #74C447;">Delivery Channels</h6>
                <h6 class="text" *ngFor="let delivery of deliveries">{{delivery}}</h6>
              </div>
            </div>
            <div class="col-md-2 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #FFAD3F;">Tools & Resources</h6>
                <h6 class="text" *ngFor="let resource of resources">{{resource}}</h6>
              </div>
            </div>
          </div>
          <div class="row tables">
            <div class="col-md-6">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">Current Loan Rates</h6>
                <div class="row">
                  <div class="col-md-6">
                    <table>
                      <tbody>
                        <tr *ngFor="let table of tables">
                          <td>{{table.des}}</td>
                          <td>{{table.per}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                  <div class="col-md-6">
                    <table>
                      <tbody>
                        <tr *ngFor="let rate of rates">
                          <td>{{rate.des}}</td>
                          <td>{{rate.per}}</td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <h6 class="read">View All</h6>
          <div class="float-right">
            <i class="fa fa-lightbulb-o icons"></i>
            <h6 class="bottom">PRO TIP: <small>Add your favorites to&nbsp;<a href="#" class="tools">My Tools</a></small></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Invest Modal-->
<div class="modal fade" id="investModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bank" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-xs-12" *ngFor="let advisor of advisors">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">{{advisor.title}}</h6>
                <h6 class="text">{{advisor.text1}}</h6>
                <h6 class="text">{{advisor.text2}}</h6>
              </div>
            </div>
            <div class="col-md-6 col-xs-12" *ngFor="let invest of invests">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #74C447;">{{invest.title}}</h6>
                <h6 class="text" *ngFor="let text of invest.texts">{{text}}</h6>
              </div>
            </div>
            <div class="col-md-6 col-xs-12" *ngFor="let third of thirds">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #FFAD3F;">{{third.title}}</h6>
                <h6 class="text" *ngFor="let text of third.texts">{{text}}</h6>
              </div>
            </div>
          </div>
          <img src="assets/images/advisor.png" class="float-left img-fluid advisor" alt="advisor">
          <div class="float-right">
            <i class="fa fa-lightbulb-o icons"></i>
            <h6 class="bottom">PRO TIP: <small>Add your favorites to&nbsp;<a href="#" class="tools">My Tools</a></small></h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<!--Insure Modal-->
<div class="modal fade" id="insureModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog bank" role="document">
    <div class="modal-content">
      <div class="modal-body">
        <div class="container-fluid">
          <div class="row">
            <div class="col-md-6 col-xs-12">
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #085B02;">Northwest Insurance Services</h6>
                <h6 class="text">{{text4}}</h6>
                <h6 class="text">{{text5}}</h6>
              </div>
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #74C447;">Our Services</h6>
                <h6 class="text" *ngFor="let insure of insures">{{insure}}</h6>
              </div>
              <div class="paragraph">
                <h6 class="header" style="border-bottom: 2px solid #FFAD3F;">Resources</h6>
                <div class="row">
                  <div class="col-md-6 col-xs-12" *ngFor="let last of lasts">
                    <h6 class="text" *ngFor="let text of last.texts">{{text}}</h6>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-6 col-xs-12">
              <img src="assets/images/insure.jpg" alt="insure" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>