.top-header {
    margin-top: 40px;
    margin-bottom: 40px;
}

a img {
    width: 200px;
    margin-right: 20px;
}

.avatar {
    width: 50px;
    height: 50px;
    margin-right: 20px;
}

a {
    color: #333 !important;
    font-weight: bold;
    font-size: 24px;
}

a span {
    font-size: 38px;
    align-items: center;
    vertical-align: middle;
}

a:hover {
    text-decoration: none;
}

.personal {
    /* font-weight: bold; */
    float: right;
    font-size: 22px;
}

.personal span {
    vertical-align: middle;
    align-items: center;
}

.arrow {
    color: green;
    font-weight: bold;
    vertical-align: middle;
    align-items: center;
    cursor: pointer;
}

.navbar-nav li {
    margin-right: 40px;
}

.last {
    margin-right: 250px !important;
}

.form-inline .form-control {
    width: 420px !important;
}

.inner-addon { 
    position: relative; 
}

.inner-addon .fa-search {
    position: absolute;
    padding: 10px;
    pointer-events: none;
}

.right-addon .fa-search { right: 20px;}

.right-addon input { padding-right: 30px; }

.form-control {
    border: none !important;
    border-radius: 0% !important;
    border-bottom: 1px solid green !important;
}

.form-control:focus, .form-control:hover {
    border-bottom: 1px solid green;
}

.modal-dialog {
    max-width: 1150px !important;
    margin-top: 100px !important;
}

.header {
    font-size: 18px;
    color: green;
    padding-bottom: 5px;
}

.text {
    font-size: 14px;
}

.read {
    font-size: 14px;
    color: green;
}

.annual {
    margin-right: 20px;
    margin-bottom: 20px;
}

.modal-body {
    margin-top: 20px;
}

.paragraph {
    margin-bottom: 15px;
}

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: 15px;
    font-family: inherit;
    font-weight: 400;
    line-height: 1.2;
    color: inherit;
}

.icons {
    color: green;
    font-size: 22px;
    margin-right: 10px;
}

.bottom {
    display: inline;
    font-size: 14px;
}

.tools {
    font-size: 12px;
    font-weight: 400;
    border-bottom: 1px solid;
    cursor: pointer;
}
