.form-control {
    margin-bottom: 20px !important;
}

.anonymous {
    margin-left: 10px;
    vertical-align: top;
    align-items: center;
}

.switch-text {
    font-size: 10px !important;
}

.submit {
    display: inline;
}

.help {
    color: green;
    text-align: center;
    font-size: 20px;
}

.contact {
    font-size: 12px;
    text-align: center;
}

.icons {
    width: 20px;
    margin-right: 20px;
}

.content {
    font-size: 20px;
    color: green;
}

.header {
    font-size: 18px;
    color: green;
}

.footer {
    margin-top: 50px;
    margin-bottom: 50px;
}

.brand {
    font-size: 12px;
    color: green;
}

.center {
    display: block;
    margin-top: -20px;
    margin-left: auto;
    margin-right: auto;
    width: 150px;
    align-items: center;
    text-align: center;
}

@media screen and (max-width: 767px) {
    .brand img {
        display: none;
    }
    .brand {
        text-align: center;
    }
}

@media screen and (max-width: 991px) {
    .questions {
        display: none;
    }
}