<div class="container">
  <div class="row">
    <div class="col-md-6 col-xs-12 links">
      <p class="content">Useful Links</p>
      <div class="row">
        <div class="col-md-4 col-xs-12" *ngFor="let link of links">
          <p>{{link}}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-2 col-xs-12">
      <p class="header">How can we improve Discover?</p>
      <input type="text" class="form-control" placeholder="Enter Feedback..." />
      <div class="submit">
        <ui-switch labelOn="On" labelOff="Off" reverse></ui-switch>
        <span class="anonymous">Anonymous</span>
        <button type="submit" class="btn btn-success float-right">SUBMIT</button>
      </div>
    </div>
  </div>
  <div class="row" style="margin-top: 20px;">
    <div class="col-md-4 offset-md-4 col-xs-12">
      <p class="help">Need Help?</p>
      <h6 class="contact">_TechSupportHelpDesk@NWSB.nbsc.com</h6>
      <h6 class="contact">Phone: On Campus Ext # 85744 or 1 877 300 5744</h6>
    </div>
    <div class="col-md-4 col-xs-12 questions">
      <p class="header">How can we improve Discover?</p>
      <div class="row">
        <div class="col-3">
          <img src="assets/images/Kristan.png" class="img-fluid" alt="Responsive image">
        </div>
        <div class="col-9">
          <p class="">Kristan Garvey</p>
          <h6 style="font-size: 12px;">Communications Specialist</h6>
          <img src="{{img.pass}}" class="img-fluid icons" alt="{{img.alt}}" *ngFor="let img of imgs">
        </div>
      </div>
    </div>
  </div>
  <div class="footer">
    <p class="brand">
      © 2018 Northwest Bank /// All Rights Reserved
      <img src="assets/images/footer.png" class="img-fluid center" alt="footer">
    </p>
  </div>
</div>