<app-header></app-header>
<div class="homepage">
  <div class="container">
    <div class="row">
      <div class="col-md-5 col-xs-12">
        <div *ngFor="let text of texts">
          <p class="{{text.class}}">{{text.data}}</p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="second-section">
    <swiper [config]="config">
      <div class="swiper-wrapper">
        <div class="swiper-slide" *ngFor="let list of lists">
          <img src="{{list.img}}" class="img-fluid">
          <p class="header">{{list.title}}</p>
          <p class="text">{{list.text}}</p>
          <!-- <p class="additional">Read more</p> -->
          <a routerLink="/home/bank-on/summer-associate" class="additional">Read more</a>
        </div>
      </div>
      <!-- <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div> -->
    </swiper>
    <hr />
  </div>
</div>

<app-footer></app-footer>