.homepage {
    background-image: url("/assets/images/homepage.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 80vh;
    margin-top: 30px;
}

.homepage::before {
    content: '';
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-image: linear-gradient(to bottom,#fff,#eee);
	opacity: .4; 
}

.title {
    margin-top: 80px;
    margin-bottom: 30px;
    font-size: 36px;
    color: green;
    font-weight: bold;
}

.content {
    font-size: 20px;
    font-weight: bold;
}

.additional {
    color: green;
    font-weight: bold;
}

.second-section {
    margin-top: 50px;
}

.header {
    font-size: 18px;
    color: green;
    margin-top: 10px;
}

hr {
    margin-bottom: 50px !important;
    margin-top: 50px !important;
}
