<app-header></app-header>
<div class="container">
  <h6 class="text">
    Home&nbsp;&nbsp;
    <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    <span class="text" routerLink="/home/bank_on" style="cursor: pointer;">Bank On</span>&nbsp;&nbsp;
    <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    <span class="green">Artcile</span>
  </h6>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-7 col-xs-12">
      <h2 class="green">Summer Associate</h2>
      <h2 class="green">Spotight: Brooke Buzynski</h2>
      <h6>Tuesday, August 09, 2018</h6>
      <h6 style="margin-top: 50px;">{{text4}}</h6>
      <div class="row">
        <div class="col-md-5">
          <img src="assets/images/articles/dog-girl.jpg" alt="dog-girl" class="img-thumbnail img-fluid" style="width: 100%;">
        </div>
        <div class="col-md-7">
          <h6 *ngFor="let text of texts">{{text}}</h6>
        </div>
      </div>
      <h6>How do you spend your free time?</h6>
      <h6>{{text5}}</h6>
      <i class="fa fa-thumbs-up arrow"></i>&nbsp;&nbsp;
      <span>609</span>
      <h5 class="green">Comments</h5>
      <h6>Write your comments</h6>
      <div class="form-group">
        <textarea class="form-control" rows="3"></textarea>
        <button class="btn btn-success add-comment" (click)="add_comment()">ADD COMMENT</button>
      </div>
      <div class="row" *ngFor="let chat of chats">
        <div class="col-3">
          <img src="{{chat.img}}" class="img-fluid">
        </div>
        <div class="col-9">
          <h6 class="green" style="display: inline;">{{chat.name}}</h6>&nbsp;&nbsp;
          <span>1h ago</span>
          <h6>{{chat.des}}</h6>
          <i class="fa fa-thumbs-up arrow"></i>&nbsp;&nbsp;
          <span>609</span>
          <i class="fa fa-reply arrow"></i>&nbsp;&nbsp;
          <span>Reply</span>
        </div>
      </div>
    </div>
    <div class="col-md-4 offset-md-1 col-xs-12 left-column">
      <h5 class="articles">Recommended articles</h5>
      <h5 class="green">Summer Asoociate</h5>
      <h5 class="green">Spotlight: Brooke Buzynski</h5>
      <h6>{{text1}}</h6>
      <hr />
      <h5 class="green">7 Reasons to Consider Student Loan Consolidation</h5>
      <h6>{{text2}}</h6>
      <hr />
      <h5 class="green">How Home Equity Can Help Pay Off Debt</h5>
      <h6>{{text3}}</h6>
      <hr />
      <h5 class="green"><b>Read More Related Articles</b></h5>
    </div>
  </div>
  <hr />
</div>
<app-footer></app-footer>