.green {
    color: green;
}

.articles {
    color: green;
    border-bottom: 2px solid green;
    padding-bottom: 10px;
    margin-bottom: 10px;
    text-align: left;
}

.arrow {
    color: green;
    font-size: 24px;
    margin-bottom: 30px;
}

.add-comment {
    margin-top: 30px;
    margin-bottom: 30px;
}

.fa-reply {
    margin-left: 20px;
}

@media screen and (max-width: 768px) {
    .left-column {
        display: none;
    }
}