<app-header></app-header>

<div class="container">
  <p class="text h6">
    Home&nbsp;&nbsp;
    <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    <span class="green">Projects</span>
  </p>
  <div class="row" style="margin-top: 30px;">
    <div class="col-sm-8 col-xs-12">
      <button class="btn btn-success btn-sm float-right title">+ADD PROJECT</button>
       <div *ngFor="let card of cards">
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let project of card.projects">
              <div class="card">
                <div class="card-body">
                  <i class="fa fa-ellipsis-h float-right green"></i>
                  <p class="h5 green card-title">{{project.title}}</p>
                  <p class="text h6 card-text">{{project.text}}</p>
                  <div class="avatars">
                    <img src="{{image}}" class="img-fluid image" *ngFor="let image of project.images">
                    <span class="green">+5</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </swiper>
       </div>
    </div>
    <div class="col-sm-3 offset-sm-1 col-xs-12">
      <div class="title">
        <h5 class="projects">My Projects</h5>
        <p class="h6 text" *ngFor="let project of projects">{{project}}</p>
      </div>
    </div>
  </div>
  <hr />
</div>

<app-footer></app-footer>