<app-header></app-header>

<div class="container">
  <h6 class="text">
    Home&nbsp;&nbsp;
    <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    Corporate Departments&nbsp;&nbsp;
    <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    <span class="green">Deposit Product Management</span>
  </h6>
  <div class="row" style="margin-top: 50px;">
    <div class="col-lg-8 col-xs-12">
      <div class="paragraph">
        <img src="assets/images/communications/launching.jpg" class="img-fluid launching">
        <div class="text-block">
          <p class="green h3">Memo:</p>
          <p class="green h3">CD Coupon</p>
          <p class="green title h3">Promotion</p>
          <p class="text h6">We’re giving current CD customers the</p>
          <h6 class="text">opportunity to “Enjoy the sunny days ahead.”</h6>
          <h6 class="read">Read more</h6>
        </div>
      </div>
      <div class="title" style="margin-top: -30px;">
        <p class="h5 green">Communications</p>
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let communication of communications">
              <div class="paragraph">
                <img src="{{communication.img}}" class="img-fluid" alt="Responsive image">
                <div class="text-put">
                  <h6 class="text green">{{communication.title}}</h6>
                </div>
              </div>
            </div>
          </div>
        </swiper>
      </div>
      <div class="title">
        <p class="h5 green">Related Products</p>
        <swiper [config]="config">
          <div class="swiper-wrapper">
            <div class="swiper-slide" *ngFor="let product of products">
              <div class="paragraph">
                <img src="{{product.img}}" class="img-fluid" alt="Responsive image">
                <div class="text-put">
                  <h6 class="text green">{{product.title}}</h6>
                </div>
              </div>
            </div>
          </div>
        </swiper>
      </div>
    </div>
    <div class="col-lg-4 col-xs-12">
      <div class="title left-column">
        <h5 class="deposit">About Deposit Services</h5>
        <p class="h6">{{text1}}</p>
        <button class="btn btn-success" style="margin-top: 10px;">ACCESS PORTAL</button>
      </div>
      <div class="title">
        <h5 class="deposit">Contacts</h5>
        <div class="row" *ngFor="let profile of profiles" style="margin-bottom: 20px;">
          <div class="col-4">
            <img src="{{profile.img}}" class="img-fluid avatar">
          </div>
          <div class="col-8">
            <h6>{{profile.name}}</h6>
            <h6 class="text">{{profile.role}}</h6>
            <img src="{{img}}" class="img-fluid icons" *ngFor="let img of profile.imgs">
          </div>
        </div>
      </div>
      <div class="title left-column">
        <h5 class="deposit">Documents</h5>
        <div *ngFor="let doc of docs" style="margin-bottom: 10px;">
          <img src="assets/images/icon-docs.svg" class="img-fluid bottom">
          <span class="text">{{doc}}</span>
        </div>
      </div>
      <div class="title left-column">
        <h5 class="deposit">Tools<img src="assets/images/Edit icon.svg" class="img-fluid float-right edit"></h5>
        <div class="row">
          <div class="col-sm-4" style="text-align: center;" *ngFor="let tool of tools">
            <img src="{{tool.img}}" class="img-fluid svg">
            <h6 class="icon-text">{{tool.text}}</h6>
          </div>
        </div>
        <nav aria-label="pagination">
          <ul class="pagination">
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-left green"></i></a></li>
            <li class="page-item"><a class="page-link"><span class="green text">1 - 6 of 9</span></a></li>
            <li class="page-item"><a class="page-link" href="#"><i class="fa fa-angle-right green"></i></a></li>
          </ul>
        </nav>
      </div>
      <div class="title left-column">
        <h5 class="deposit">Events</h5>
        <div class="row event" *ngFor="let event of events">
          <div class="col-sm-4">
            <div class="date">
              <h6 class="text">{{event.date}}</h6>
              <h4 class="green">{{event.day}}</h4>
              <h6 class="green">{{event.month}}</h6>
            </div>
          </div>
          <div class="col-sm-8">
            <p class="h6">{{event.text}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <hr />
</div>

<app-footer></app-footer>