<app-header></app-header>
<div class="container">
  <p class="text h6">
    Home&nbsp;&nbsp;
    <i class="fa fa-angle-right"></i>&nbsp;&nbsp;
    <span class="green">Search Results</span>
  </p>
  <div class="row" style="margin-top: 30px;">
    <div class="col-md-3 col-xs-12 left-column">
      <p class="h5 green">Result Type</p>
      <div id="MainMenu">
        <div class="list-group panel">
          <a href="#demo1" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">Checking</a>
          <div class="collapse" id="demo1">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
          <a href="#demo2" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">Saving</a>
          <div class="collapse" id="demo2">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
          <a href="#demo3" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">IRA</a>
          <div class="collapse" id="demo3">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
          <a href="#demo4" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">HSA</a>
          <div class="collapse" id="demo4">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
          <a href="#demo5" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">CD</a>
          <div class="collapse" id="demo5">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
          <a href="#demo6" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">IMF</a>
          <div class="collapse" id="demo6">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
          <a href="#demo7" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">Mortage</a>
          <div class="collapse" id="demo7">
            <a class="list-group-item">Personal</a>
            <a class="list-group-item">Business</a>
          </div>
          <a href="#demo8" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">Home Equity</a>
          <div class="collapse" id="demo8">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
          <a href="#demo9" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">Home Equity Line of Credit</a>
          <div class="collapse" id="demo9">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
          <a href="#demo10" class="list-group-item list-group-item-success collapsed" data-toggle="collapse" data-parent="#MainMenu">Credit Cards</a>
          <div class="collapse" id="demo10">
            <a class="list-group-item">Subitem 1</a>
            <a class="list-group-item">Subitem 2</a>
          </div>
        </div>
      </div>
      <p class="h5 green">Document Type</p>
      <div id="MainMenu">
        <p class="h6 doc">PDF</p>
        <p class="h6 doc">Word Doc</p>
        <p class="h6 doc">Excel sheet</p>
        <p class="h6 doc">PowerPoint</p>
      </div>
      <p class="h5 green" id="MainMenu">Modified Date</p>
      <img src="assets/images/modified.jpg" class="img-fluid">
    </div>
    <div class="col-md-6 col-xs-12"></div>
    <div class="col-md-3 col-xs-12"></div>
  </div>
  <hr />
</div>

<app-footer></app-footer>